@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.flexwrap {
  flex-wrap: wrap;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.flexcol.-gap-xs,
.flexrow.-gap-xs {
  gap: 2px;
}
.flexcol.-gap-sm,
.flexrow.-gap-sm {
  gap: 4px;
}
.flexcol.-gap-md,
.flexrow.-gap-md {
  gap: 8px;
}
.flexcol.-nowrap,
.flexrow.-nowrap {
  flex-wrap: nowrap;
}
.flexcol.-space-between,
.flexrow.-space-between {
  justify-content: space-between;
}
.flexcol.-space-evenly,
.flexrow.-space-evenly {
  justify-content: space-evenly;
}
.flexcol.-relative,
.flexrow.-relative {
  position: relative;
}
.flexcol.-static,
.flexrow.-static {
  flex: 0 0 auto;
}
.flexcol.-static-children > *,
.flexrow.-static-children > * {
  flex: 0 0 auto;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 5px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.dice-tooltip-collapser {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 250ms ease;
}

.dice-tooltip .dice-rolls .roll.discarded ~ .roll, .roll ~ .roll.discarded {
  bottom: 15px;
}

.dice-tooltip .dice-rolls .marvel-roll:nth-child(2) {
  bottom: 15px;
}

.dice-tooltip .dice-rolls .roll.discarded {
  opacity: 0.5;
}

.reroll-buttons {
  max-width: 5em;
  display: flex;
  flex-direction: column;
}

.dice-roll {
  cursor: pointer;
}
.dice-roll.secret-roll {
  cursor: initial;
}
.dice-roll .dice-tooltip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dice-roll .dice-tooltip.expanded {
  display: flex;
}
.dice-roll .dice-tooltip .tooltip-part {
  border-bottom: 1px solid var(--color-border-light-1);
  flex-wrap: wrap;
}
.dice-roll .dice-tooltip .tooltip-part:last-child {
  border: none;
  padding-bottom: 0;
}
.dice-roll .dice-tooltip .tooltip-part.constant {
  min-height: 40px;
  display: grid;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons {
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 6000;
  display: block;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons {
  height: 3rem;
  width: 3rem;
  display: unset;
  text-align: center;
  background: transparent;
  cursor: pointer;
  position: absolute;
  left: 0em;
  right: 3rem;
  bottom: -3rem;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button {
  font-weight: normal;
  /* width: 3em; */
  margin: 0;
  display: block;
  left: 0;
  height: 1.8em;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button i {
  font-size: 1em;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-edge {
  background-color: chartreuse;
  opacity: 0;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-edge:hover {
  opacity: 0.8;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-trouble {
  background-color: darkred;
  opacity: 0;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-trouble:hover {
  opacity: 0.8;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 3rem;
  position: absolute;
  opacity: 0;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons:hover .overlay {
  opacity: 0.8;
}
.dice-roll .dice-tooltip button.retroEdgeMode {
  width: 100%;
  margin: 0px;
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid var(--color-border-light-primary);
  border-radius: 3px;
  font-size: var(--font-size-14);
  line-height: normal;
  font-family: var(--font-primary);
  cursor: pointer;
}
.dice-roll .dice-tooltip .dice {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dice-roll .dice-tooltip .dice .dice-rolls {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.dice-roll .dice-tooltip .dice .dice-rolls .constant {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-18);
  margin-left: 0.25rem;
}
.dice-roll .dice-tooltip .dice .dice-rolls .constant .sign {
  font-weight: normal;
  color: var(--color-text-light-6);
  margin-right: 2px;
}
.dice-roll .dice-tooltip .dice .dice-rolls .roll {
  line-height: inherit;
  padding: 5px 7px 0px;
  font-size: var(--font-size-20);
}
.dice-roll .dice-tooltip .dice .dice-rolls .roll .min, .dice-roll .dice-tooltip .dice .dice-rolls .roll .max, .dice-roll .dice-tooltip .dice .dice-rolls .roll .success {
  filter: none;
}
.dice-roll .dice-tooltip .dice .dice-rolls .roll.max {
  filter: none;
}
.dice-roll .dice-tooltip .dice .total {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.dice-roll .dice-tooltip .dice .total > img {
  top: 6px;
  position: absolute;
  width: 32px;
  border: none;
  opacity: 0.1;
}
.dice-roll .dice-tooltip .dice .total .label {
  font-family: var(--marvel-multiverse-font-roboto-condensed);
  font-size: var(--font-size-10);
  color: var(--color-text-dark-5);
  text-transform: uppercase;
  text-align: center;
}
.dice-roll .dice-tooltip .dice .total .value {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-20);
}
.dice-roll .dice-tooltip .dice .total .sign {
  color: var(--color-text-light-6);
  font-weight: normal;
  margin-right: 2px;
}

.dice-tooltip .dice-rolls {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  overflow: auto;
}

.dice-tooltip .dice-rolls .d6 {
  min-width: 40px;
  font-size: var(--font-size-20);
  color: #000;
  font-weight: normal;
  text-align: center;
  min-height: 40px;
  padding-top: 6px;
}

.tooltip-part:nth-child(1) .dice-rolls .roll.d6, .tooltip-part:nth-child(3) .dice-rolls .roll.d6 {
  background-image: url("../icons/d6-white.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-top: 2px;
}

.tooltip-part:nth-child(2) .dice-rolls .roll.d6 {
  background-image: url("../icons/d6-red.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-top: 2px;
}

li.marvel-roll.d6.fantastic {
  background-repeat: no-repeat;
  background-image: url("../icons/d6-red.svg");
  background-size: 40px 40px;
  color: wheat;
  padding-top: 2px;
}

.dice-tooltip .dice-rolls span.fantastic {
  font-size: var(--font-size-28);
  color: white;
}

.dice-tooltip .dice-rolls .roll.failure, .dice-tooltip .dice-rolls .roll.min {
  filter: none;
}

.dice-tooltip .dice-rolls .roll.success, .dice-tooltip .dice-rolls .roll.max {
  filter: none;
}

.dice-tooltip .dice-rolls .roll span {
  background-image: none;
}

.directory-item[data-entry-id=""] {
  display: none !important;
}

.six-one-six-die {
  min-width: 10em;
}
.six-one-six-die img {
  width: 3em;
  height: 3em;
  border: none;
  float: left;
}

li.roll-damage {
  cursor: pointer;
}

.mm-styled-container {
  background: #e41d18;
  clip-path: polygon(0% 0%, 114px 0%, 145px 28px, 100% 28px, 100% 100%, 0% 100%);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  padding: 3px;
  position: relative;
  width: 100%;
}
.mm-styled-container.-no-header {
  clip-path: initial;
}
.mm-styled-container h3 {
  background: #8b0502;
  border-block-end: 1px solid #8b0502;
  clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
  color: white;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-block-start: 4px;
  padding-inline-end: 4px;
  padding-inline-start: 8px;
  position: relative;
  top: 1px;
  width: 140px;
}

.mm-styled-container-body {
  background-image: linear-gradient(180deg, #8b0502, transparent 25%), url("../ui/official/mmrpg-crimson-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1920px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 8px 8px 4px;
  width: 100%;
}

.mm-item-list.-effects .mm-item > *,
.mm-item-list.-effects .mm-item-header > * {
  flex: 1 1 auto;
}
.mm-item-list.-effects .mm-item .item-controls,
.mm-item-list.-effects .mm-item-header .item-controls {
  flex: 0 0 auto;
}
.mm-item-list.-effects .mm-item-header > div > span {
  background: #e41d18;
  border-radius: 18px;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 10px;
  height: 18px;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
}
.mm-item-list.-effects .mm-item-name {
  align-items: center;
  display: flex;
  gap: 4px;
}
.mm-item-list.-effects .mm-item-name img {
  background: #e41d18;
  border: none;
  height: 18px;
  width: 18px;
}

.mm-styled-field {
  align-self: start;
  display: inline-grid;
  flex: 0 0 auto;
  position: relative;
}
.mm-styled-field.-flex-relative {
  flex: 1 1 auto;
}
.mm-styled-field.-sm .mm-styled-input input,
.mm-styled-field.-sm .mm-styled-input select {
  font-size: 12px;
  padding: 2px 4px;
}
.mm-styled-field.-lg .mm-styled-input input,
.mm-styled-field.-lg .mm-styled-input select {
  font-size: 22px;
  padding: 8px;
}
.mm-styled-field.-fill {
  width: 100%;
}
.sheet .mm-styled-field.-img {
  display: flex;
  gap: 4px;
}
.sheet .mm-styled-field.-img .mm-styled-input {
  flex: 1 1 auto;
}
.sheet .mm-styled-field.-img > img {
  background: #8b0502;
  border: none;
  flex: 0 0 auto;
  height: 49px;
  margin: 0;
  max-width: 100px;
}

.mm-styled-label {
  background: #fff2ec;
  border-block-start: 2px solid #e41d18;
  bottom: -4px;
  display: inline-flex;
  font-size: 10px;
  font-weight: 700;
  margin: auto;
  min-height: 15px;
  padding: 0 2px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.mm-styled-label.-align-left {
  margin-inline-start: 14px;
}
.mm-styled-label.-align-left ~ .mm-styled-input {
  text-align: left;
}
.mm-styled-label.-align-right {
  margin-inline-end: 14px;
}
.mm-styled-label.-align-right ~ .mm-styled-input {
  text-align: right;
}
.mm-styled-label::before, .mm-styled-label::after {
  background: #fff2ec;
  border-inline-start: 2px solid #e41d18;
  content: "";
  height: 15px;
  position: absolute;
  top: 0;
  width: 8px;
}
.mm-styled-label::before {
  left: -7px;
  transform: rotate(45deg);
}
.mm-styled-label::after {
  right: -7px;
  transform: rotate(135deg);
}
.mm-styled-label ~ .mm-styled-input {
  text-align: center;
}
.mm-styled-label span {
  position: relative;
  z-index: 1;
}

.mm-styled-input {
  background: #e41d18;
  border-radius: 2px;
  min-height: 24px;
  padding: 2px;
  position: relative;
}
.mm-styled-input.-no-bg::before {
  display: none;
}
.mm-styled-input::before {
  background: #fff2ec;
  border-radius: 2px;
  bottom: 2px;
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.mm-styled-input > img {
  position: relative;
  z-index: 1;
}
.mm-styled-input > input,
.mm-styled-input > select,
.mm-styled-input .plain-text {
  background: none;
  border: none;
  color: #000101;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  padding: 4px 8px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
.mm-styled-input > input:focus,
.mm-styled-input > select:focus,
.mm-styled-input .plain-text:focus {
  box-shadow: inset 0 0 0 2px #e41d18, inset 0 0 0 3px white, 0 1px 2px 0 RGBA(0, 0, 0, 0.3);
  text-shadow: none;
  outline: none;
}
.mm-styled-input > input[type=checkbox] {
  width: auto;
}
.mm-styled-input .editor {
  background: #fff2ec;
  z-index: 2;
}
.mm-styled-input .editor > .editor-content {
  padding: 4px;
}
.mm-styled-input .editor-menu {
  border-radius: 0;
}
.mm-styled-input .editor-container {
  min-height: 70px;
}

.mm-label {
  color: #575757;
  flex: 0 0 auto;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.mm-label.-sm {
  font-size: 10px;
}

.mm-input {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}
.mm-input.-lg {
  font-size: 18px;
}
.mm-input input {
  background: none;
  border: none;
  color: #000101;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
.mm-input input:focus {
  box-shadow: inset 0 0 0 2px #e41d18, inset 0 0 0 3px white, 0 1px 2px 0 RGBA(0, 0, 0, 0.3);
  text-shadow: none;
  outline: none;
}
.mm-input .editor {
  background: #fff2ec;
}
.mm-input .editor-menu {
  border-radius: 0;
}
.mm-input .editor-container {
  min-height: 120px;
}

.mm-item-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mm-item-list .item-controls {
  display: flex;
  flex: 0 0 auto;
  gap: 2px;
  padding-inline-end: 16px;
  padding-inline-start: 4px;
  z-index: 1;
}
.mm-item-list .item-control {
  align-items: center;
  border-radius: 2px;
  border: 1px solid #e41d18;
  display: flex;
  height: 18px;
  justify-content: center;
  padding: 2px;
  width: 18px;
}

.mm-item-header {
  align-items: center;
  color: white;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}
.mm-item-header > span {
  background: #e41d18;
  border-radius: 18px;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 10px;
  height: 18px;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
}
.mm-item-header > hr {
  border: none;
  border-block-end: 1px solid #e41d18;
}
.mm-item-header .item-controls {
  padding: 0;
}
.mm-item-header .item-control:hover {
  background: #e41d18;
  color: white;
  text-shadow: none;
}

.mm-item {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0% 100%);
  color: #000101;
  display: flex;
  font-size: 12px;
  gap: 8px;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mm-item::before {
  background-color: #fff2ec;
  bottom: 2px;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0% 100%);
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.mm-item .item-control {
  border-color: transparent;
}
.mm-item .item-control:hover {
  color: #e41d18;
  text-shadow: none;
}

.mm-item-name {
  flex: 1 1 auto;
  font-weight: 600;
  padding: 8px;
  padding-inline-start: 16px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.mm-item-name > a {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.mm-item-name > a span:nth-of-type(2) {
  color: #575757;
  font-size: 10px;
}

.mm-input-item {
  position: relative;
  z-index: 1;
}
.mm-input-item h4 {
  color: #000101;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: auto;
  margin: 0;
  padding: 2px 4px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
.mm-input-item h4 > .rollable {
  flex: 1 1 auto;
}
.mm-input-item h4 .item-control {
  border-color: transparent;
}
.mm-input-item h4 .item-control:hover {
  color: #e41d18;
  text-shadow: none;
}

.sheet nav.mm-tabs {
  align-items: center;
  background: #e41d18;
  border: none;
  clip-path: polygon(0% 20px, 20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%);
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin: 0;
  padding: 4px;
  width: 100%;
}
.sheet nav.mm-tabs.-two .item:nth-of-type(1) {
  flex-basis: calc(50% + 16px);
  margin-inline-end: -10px;
  padding-inline-end: 16px;
  clip-path: polygon(0% 20px, 20px 0%, 100% 0%, calc(100% - 16px) 100%, 0% 100%);
}
.sheet nav.mm-tabs.-two .item:nth-of-type(2) {
  flex-basis: calc(50% + 16px);
  margin-inline-start: -10px;
  padding-inline-start: 16px;
  clip-path: polygon(0% 100%, 16px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%);
}
.sheet nav.mm-tabs.-three .item:nth-of-type(1) {
  flex-basis: calc(33% + 16px);
  margin-inline-end: -10px;
  padding-inline-end: 16px;
  clip-path: polygon(0% 20px, 20px 0%, 100% 0%, calc(100% - 16px) 100%, 0% 100%);
}
.sheet nav.mm-tabs.-three .item:nth-of-type(2) {
  flex-basis: calc(33% + 6px);
  clip-path: polygon(16px 0%, 100% 0%, calc(100% - 16px) 100%, 0% 100%);
}
.sheet nav.mm-tabs.-three .item:nth-of-type(3) {
  flex-basis: calc(33% + 16px);
  margin-inline-start: -10px;
  padding-inline-start: 16px;
  clip-path: polygon(0% 100%, 16px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%);
}
.sheet nav.mm-tabs .sheet-tabs-wrapper {
  display: flex;
  width: 100%;
}
.sheet nav.mm-tabs .item {
  align-items: center;
  background: #8b0502;
  box-shadow: none;
  color: white;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  text-shadow: none;
  text-transform: uppercase;
}
.sheet nav.mm-tabs .item.active {
  background: white;
  color: #e41d18;
}

.marvel-multiverse.sheet .window-content {
  background-position: top -360px center;
  background-repeat: no-repeat;
  background-size: 2800px;
  background-image: url("../ui/official/mm-heroes-background.jpg");
  color: #000101;
  font-family: "Roboto Slab", sans-serif;
}
.marvel-multiverse.sheet .window-content > form {
  gap: 8px;
}

.marvel-multiverse.sheet.actor .mm-hero-portrait-block {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 210px;
  justify-content: center;
  position: relative;
}
.marvel-multiverse.sheet.actor .mm-hero-portrait {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(0 0, 70% 0%, 100% 30%, 100% 100%, 100% 100%, 30% 100%, 0% 70%, 0 0);
  display: flex;
  height: 90%;
  justify-content: center;
  position: relative;
  width: 90%;
}
.marvel-multiverse.sheet.actor .mm-hero-portrait img {
  border-radius: 2px;
  border: none;
  flex: 0 0 auto;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-karma-block {
  align-items: center;
  background: #e41d18;
  bottom: -4px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 7px, calc(100% - 5px) 12px, calc(100% - 5px) calc(100% - 12px), 100% calc(100% - 7px), 100% 100%, 0% 100%, 0% calc(100% - 7px), 5px calc(100% - 12px), 5px 12px, 0% 7px);
  display: flex;
  flex-direction: column;
  flex: 0 0 70px;
  height: 60px;
  margin: 0;
  padding: 4px 2px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 70px;
}
.marvel-multiverse.sheet.actor .mm-karma-block::before {
  background: #fff2ec;
  bottom: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 5px, calc(100% - 5px) 10px, calc(100% - 5px) calc(100% - 10px), 100% calc(100% - 5px), 100% 100%, 0% 100%, 0% calc(100% - 5px), 5px calc(100% - 10px), 5px 10px, 0% 5px);
  content: "";
  left: 3px;
  position: absolute;
  right: 3px;
  top: 2px;
}
.marvel-multiverse.sheet.actor .mm-karma-block input {
  font-size: 28px;
  width: 50%;
}
.marvel-multiverse.sheet.actor .mm-rank-block {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(12px 0%, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  display: flex;
  flex-direction: column;
  flex: 0 0 60px;
  height: 60px;
  left: 0;
  margin: 0;
  padding: 4px 2px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 60px;
}
.marvel-multiverse.sheet.actor .mm-rank-block::before {
  background: #fff2ec;
  bottom: 2px;
  clip-path: polygon(12px 0%, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  content: "";
  left: 2px;
  position: absolute;
  right: 3px;
  top: 2px;
}
.marvel-multiverse.sheet.actor .mm-rank-block input {
  font-size: 28px;
  width: 50%;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li {
  align-items: center;
  color: white;
  display: flex;
  padding: 0 8px;
  position: relative;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li > * {
  display: inline-flex;
  flex: 1 1 25%;
  justify-content: center;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li > *:first-chld {
  flex: 0 0 auto;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li > span {
  flex: 0 0 auto;
  padding: 0 8px;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows h6 {
  color: white;
  flex: 0 0 auto;
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  transform: rotate(-90deg);
  width: 24px;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply,
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-addition {
  align-items: center;
  background: #fff2ec;
  border: 2px solid black;
  color: #000101;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  gap: 3px;
  height: 36px;
  justify-content: center;
  line-height: 1;
  padding: 4px 8px;
  position: relative;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply > *,
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-addition > * {
  display: inline-flex;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply img,
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-addition img {
  border: none;
  flex: initial;
  height: auto;
  margin: 0;
  max-height: 100%;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::before, .marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::after {
  align-items: center;
  bottom: 0;
  color: #000101;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  top: 0;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::before {
  content: "[";
  left: -1px;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::after {
  content: "]";
  right: -1px;
}
.marvel-multiverse.sheet.actor .mm-stat-block {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90px;
  padding: 8px 4px;
  padding-inline-end: 72px;
  position: relative;
  text-align: center;
  width: 100%;
}
.marvel-multiverse.sheet.actor .mm-stat-block.-focus {
  background: #0088cd;
}
.marvel-multiverse.sheet.actor .mm-stat-block.-focus ~ .mm-dr-block {
  background: #00599e;
}
.marvel-multiverse.sheet.actor .mm-stat-block::before {
  background: #fff2ec;
  bottom: 2px;
  clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
  content: "";
  left: 2px;
  position: absolute;
  right: 3px;
  top: 3px;
}
.marvel-multiverse.sheet.actor .mm-stat-block hr {
  border: none;
  border-block-end: 1px solid #000101;
  margin: 0;
  width: 100%;
}
.marvel-multiverse.sheet.actor .mm-stat-block .mm-input {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  justify-content: end;
}
.marvel-multiverse.sheet.actor .mm-stat-block .mm-input input {
  font-size: inherit;
  height: 24px;
  max-width: 40px;
  width: auto;
}
.marvel-multiverse.sheet.actor .mm-stat-corner-block {
  background: #8b0502;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12px 100%, 0% calc(100% - 12px));
  display: flex;
  flex-direction: column;
  height: 54px;
  justify-content: center;
  padding: 4px 2px;
  position: absolute;
  right: -2px;
  text-align: center;
  top: -4px;
  width: 72px;
}
.marvel-multiverse.sheet.actor .mm-stat-corner-block::before {
  background: white;
  bottom: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12px 100%, 0% calc(100% - 12px));
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.marvel-multiverse.sheet.actor .mm-stat-corner-block .mm-input {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1;
}
.marvel-multiverse.sheet.actor .mm-speed-fields {
  align-self: start;
  display: inline-flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  justify-content: end;
  line-height: 1.1;
  padding-block-start: 1px;
  padding-inline-start: 4px;
  text-align: left;
  width: 120%;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-speed-fields .flexrow {
  overflow: hidden;
}
.marvel-multiverse.sheet.actor .mm-speed-fields span {
  display: inline-block;
  overflow: hidden;
}
.marvel-multiverse.sheet.actor .mm-speed-fields span:first-child {
  max-width: 72px;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows::before {
  background: #fff2ec;
  bottom: 4px;
  content: "";
  position: absolute;
  right: 4px;
  top: 31px;
  width: 25%;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li {
  display: flex;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li:first-of-type {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li:first-of-type div:nth-of-type(4) {
  color: #000101;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div {
  align-items: flex-end;
  color: white;
  display: inline-flex;
  flex: 1 1 25%;
  justify-content: center;
  text-align: center;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div:first-child {
  justify-content: start;
  text-align: start;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div.mm-ability-name {
  align-items: center;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > div,
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > input {
  align-items: center;
  background: #fff2ec;
  border: 2px solid black;
  color: #000101;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  height: 28px;
  justify-content: center;
  line-height: 1;
  min-width: initial;
  padding: 0;
  width: 54px;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > span {
  align-items: center;
  background: #8b0502;
  clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  height: 28px;
  justify-content: center;
  line-height: 1;
  min-width: initial;
  padding: 0;
  width: 54px;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > span:hover {
  background: white;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-name {
  color: white;
  font-size: 18px;
  padding-inline-start: 8px;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-name:hover {
  background: #e41d18;
  color: white !important;
}
.marvel-multiverse.sheet.actor .mm-bio-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  overflow: auto;
}
.marvel-multiverse.sheet.actor .window-content {
  min-width: 690px;
  overflow-x: auto;
}
.marvel-multiverse.sheet.actor .window-content > form {
  height: 100%;
}
.marvel-multiverse.sheet.actor .sheet-header {
  flex: 0 0 auto;
}
.marvel-multiverse.sheet.actor .sheet-header .header-fields .flexrow .flexcol:first-child {
  flex: 0 0 210px;
}
.marvel-multiverse.sheet.actor .sheet-body {
  overflow: hidden;
}
.marvel-multiverse.sheet.actor .sheet-body .tab[data-tab],
.marvel-multiverse.sheet.actor .sheet-body .tab[data-tab] > .flexrow {
  height: 100%;
}
.marvel-multiverse.sheet.actor .rollable {
  cursor: pointer;
}
.marvel-multiverse.sheet.actor .rollable:hover {
  box-shadow: none;
  color: #e41d18 !important;
  text-shadow: none;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-damage-block .mm-styled-container-body {
  justify-content: space-evenly;
  padding: 8px 0;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-abilities-block .mm-styled-container-body {
  padding: 8px 0;
  overflow: initial;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-powers-block {
  flex: 1 1 50%;
  height: 100%;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-powers-block .mm-styled-container-body {
  padding-block-start: 0;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-powers-block .mm-styled-container-body > .mm-styled-field {
  background: #8b0502;
  padding: 8px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-traitstags-block {
  flex: 1 1 50%;
  height: 100%;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-gear-block {
  height: 100%;
}

.marvel-multiverse.sheet.item .window-content > form {
  display: flex;
  flex-direction: column;
}
