@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.flexwrap {
  flex-wrap: wrap;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.flexcol.-gap-xs,
.flexrow.-gap-xs {
  gap: 2px;
}
.flexcol.-gap-sm,
.flexrow.-gap-sm {
  gap: 4px;
}
.flexcol.-gap-md,
.flexrow.-gap-md {
  gap: 8px;
}
.flexcol.-nowrap,
.flexrow.-nowrap {
  flex-wrap: nowrap;
}
.flexcol.-space-between,
.flexrow.-space-between {
  justify-content: space-between;
}
.flexcol.-space-evenly,
.flexrow.-space-evenly {
  justify-content: space-evenly;
}
.flexcol.-grow-2,
.flexrow.-grow-2 {
  flex-grow: 2;
}
.flexcol.-relative,
.flexrow.-relative {
  position: relative;
}
.flexcol.-static,
.flexrow.-static {
  flex: 0 0 auto;
}
.flexcol.-static-children > *,
.flexrow.-static-children > * {
  flex: 0 0 auto;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 5px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.chat-message {
  background: #e5e5e6;
}

#chat-form textarea {
  background: #fff2ec;
}
#chat-form textarea:focus {
  box-shadow: inset 0 0 0 2px #e41d18, inset 0 0 0 3px white, 0 1px 2px 0 RGBA(0, 0, 0, 0.3);
  text-shadow: none;
  outline: none;
}

.marvel-roll .dice-formula,
.marvel-roll .dice-total,
.marvel-roll .damage {
  box-shadow: inset 0 0 0 2px #e41d18, inset 0 0 0 3px white, 0 1px 2px 0 RGBA(0, 0, 0, 0.3);
  text-shadow: none;
  outline: none;
}
.marvel-roll .dice-formula,
.marvel-roll .dice-total {
  align-items: center;
  background: #e41d18;
  border-radius: 0;
  border: none;
  box-shadow: none;
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);
  color: #000101;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 8px;
  position: relative;
  text-transform: uppercase;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  width: 100%;
}
.marvel-roll .dice-formula::before,
.marvel-roll .dice-total::before {
  background-color: #fff2ec;
  bottom: 2px;
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.marvel-roll .dice-formula span,
.marvel-roll .dice-total span {
  cursor: text;
  user-select: auto;
  z-index: 1;
}
.marvel-roll .dice-total {
  font-size: 18px;
}
.marvel-roll .damage,
.marvel-roll .roll-edge,
.marvel-roll .roll-trouble {
  background: #e41d18;
  border-radius: 2px;
  box-shadow: none;
  color: white;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.marvel-roll .damage:hover,
.marvel-roll .roll-edge:hover,
.marvel-roll .roll-trouble:hover {
  background: #8b0502;
}
.marvel-roll .damage {
  border: 2px solid #e41d18;
  font-size: 16px;
  margin-block-start: 8px;
  padding: 8px;
}
.marvel-roll .dice-tooltip {
  display: flex !important;
  gap: 4px;
  height: initial !important;
  margin: 0 !important;
  padding: 8px !important;
}
.marvel-roll .dice-tooltip.expanded {
  display: flex !important;
}
.marvel-roll .dice-tooltip .tooltip-part {
  flex: 1 1 auto;
}
.marvel-roll .dice {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: 100%;
  justify-content: center;
}
.marvel-roll .dice .dice-rolls {
  align-items: center;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.marvel-roll .dice .dice-rolls:hover .roll + .roll {
  margin-block-start: 4px;
}
.marvel-roll .dice .dice-rolls .roll {
  align-items: center;
  background-image: url("../ui/official/marvel-default-die.png");
  background-repeat: no-repeat;
  background-size: 50px;
  color: #000101;
  display: flex;
  font-size: 16px;
  font-size: 26px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 1px white;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  width: 50px;
  z-index: 1;
}
.marvel-roll .dice .dice-rolls .roll + .roll {
  margin-block-start: -42px;
  z-index: 1;
}
.marvel-roll .dice .dice-rolls .roll + .roll.discarded {
  z-index: 0;
}
.marvel-roll .dice .dice-rolls .roll.discarded {
  filter: initial;
  opacity: 0.3 !important;
  z-index: 0;
}
.marvel-roll .dice .dice-rolls .roll.min, .marvel-roll .dice .dice-rolls .roll.max {
  filter: initial;
}
.marvel-roll .dice .dice-rolls .roll.marvel-roll {
  background-image: url("../ui/official/marvel-special-die.png");
  color: white;
  text-shadow: 1px 1px 1px black;
}
.marvel-roll .dice .dice-rolls .roll.marvel-roll.fantastic {
  background-image: url("../ui/official/marvel-special-die-with-logo.png");
}
.marvel-roll .dice .dice-rolls .roll.marvel-roll.fantastic span {
  visibility: hidden;
}
.marvel-roll .reroll-buttons {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.marvel-roll .roll-edge,
.marvel-roll .roll-trouble {
  background: #8b0502;
  border: 1px solid #e41d18;
  font-size: 12px;
  padding: 4px;
}
.marvel-roll .roll-edge:hover,
.marvel-roll .roll-trouble:hover {
  background: #e41d18;
}

.mm-styled-container {
  background: #e41d18;
  clip-path: polygon(0% 0%, 114px 0%, 145px 28px, 100% 28px, 100% 100%, 0% 100%);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  padding: 3px;
  position: relative;
  width: 100%;
}
.mm-styled-container.-no-header {
  clip-path: initial;
}
.mm-styled-container h3 {
  background: #8b0502;
  border-block-end: 1px solid #8b0502;
  clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
  color: white;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-block-start: 4px;
  padding-inline-end: 4px;
  padding-inline-start: 8px;
  position: relative;
  top: 1px;
  width: 140px;
}

.mm-npc-styled-container {
  background: #e41d18;
  clip-path: polygon(0% 0%, 114px 0%, 145px 28px, 100% 28px, 100% 100%, 0% 100%);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  padding: 3px;
  width: 100%;
}
.mm-npc-styled-container.-no-header {
  clip-path: initial;
}
.mm-npc-styled-container h3 {
  background: #8b0502;
  border-block-end: 1px solid #8b0502;
  clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
  color: white;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-block-start: 4px;
  padding-inline-end: 4px;
  padding-inline-start: 8px;
  position: relative;
  top: 1px;
  width: 140px;
}
.mm-npc-styled-container .mm-styled-container-body {
  background-image: linear-gradient(180deg, #8b0502, transparent 25%), url("../ui/official/mmrpg-crimson-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1920px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow: unset;
  padding: 8px 8px 4px;
  width: 100%;
}

.mm-styled-container-body {
  background-image: linear-gradient(180deg, #8b0502, transparent 25%), url("../ui/official/mmrpg-crimson-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1920px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 8px 8px 4px;
  width: 100%;
}

.mm-item-list.-effects .mm-item > *,
.mm-item-list.-effects .mm-item-header > * {
  flex: 1 1 auto;
}
.mm-item-list.-effects .mm-item .item-controls,
.mm-item-list.-effects .mm-item-header .item-controls {
  flex: 0 0 auto;
}
.mm-item-list.-effects .mm-item-header > div > span {
  background: #e41d18;
  border-radius: 18px;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 10px;
  height: 18px;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
}
.mm-item-list.-effects .mm-item-name {
  align-items: center;
  display: flex;
  gap: 4px;
}
.mm-item-list.-effects .mm-item-name img {
  background: #e41d18;
  border: none;
  height: 18px;
  width: 18px;
}

.mm-styled-field {
  align-self: unset;
  display: inline-grid;
  flex: 0 0 auto;
  position: relative;
}
.mm-styled-field.-flex-relative {
  flex: 1 1 auto;
}
.mm-styled-field.-sm .mm-styled-input input,
.mm-styled-field.-sm .mm-styled-input select {
  font-size: 12px;
  padding: 2px 4px;
}
.mm-styled-field.-lg .mm-styled-input input,
.mm-styled-field.-lg .mm-styled-input select {
  font-size: 22px;
  padding: 8px;
}
.mm-styled-field.-fill {
  width: 100%;
}
.sheet .mm-styled-field.-img {
  display: flex;
  gap: 4px;
}
.sheet .mm-styled-field.-img .mm-styled-input {
  flex: 1 1 auto;
}
.sheet .mm-styled-field.-img > img {
  background: #8b0502;
  border: none;
  flex: 0 0 auto;
  height: 49px;
  margin: 0;
  max-width: 100px;
}

.mm-styled-label {
  background: #fff2ec;
  border-block-start: 2px solid #e41d18;
  bottom: -4px;
  display: inline-flex;
  font-size: 10px;
  font-weight: 700;
  margin: auto;
  min-height: 15px;
  padding: 0 2px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.mm-styled-label.-align-left {
  margin-inline-start: 14px;
}
.mm-styled-label.-align-left ~ .mm-styled-input {
  text-align: left;
}
.mm-styled-label.-align-right {
  margin-inline-end: 14px;
}
.mm-styled-label.-align-right ~ .mm-styled-input {
  text-align: right;
}
.mm-styled-label::before, .mm-styled-label::after {
  background: #fff2ec;
  border-inline-start: 2px solid #e41d18;
  content: "";
  height: 15px;
  position: absolute;
  top: 0;
  width: 8px;
}
.mm-styled-label::before {
  left: -7px;
  transform: rotate(45deg);
}
.mm-styled-label::after {
  right: -7px;
  transform: rotate(135deg);
}
.mm-styled-label ~ .mm-styled-input {
  text-align: center;
}
.mm-styled-label span {
  position: relative;
  z-index: 1;
}

.mm-styled-input {
  background: #e41d18;
  border-radius: 2px;
  min-height: 24px;
  padding: 2px;
  position: relative;
}
.mm-styled-input.-no-bg::before {
  display: none;
}
.mm-styled-input::before {
  background: #fff2ec;
  border-radius: 2px;
  bottom: 2px;
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.mm-styled-input > img {
  position: relative;
  z-index: 1;
}
.mm-styled-input > input,
.mm-styled-input > select,
.mm-styled-input .plain-text {
  background: none;
  border: none;
  color: #000101;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  padding: 4px 8px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
.mm-styled-input > input:focus,
.mm-styled-input > select:focus,
.mm-styled-input .plain-text:focus {
  box-shadow: inset 0 0 0 2px #e41d18, inset 0 0 0 3px white, 0 1px 2px 0 RGBA(0, 0, 0, 0.3);
  text-shadow: none;
  outline: none;
}
.mm-styled-input > input[type=checkbox] {
  width: auto;
}
.mm-styled-input .editor {
  background: #fff2ec;
  z-index: 2;
}
.mm-styled-input .editor > .editor-content {
  padding: 4px;
}
.mm-styled-input .editor-menu {
  border-radius: 0;
}
.mm-styled-input .editor-container {
  min-height: 70px;
}

.mm-label {
  color: #575757;
  flex: 0 0 auto;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.mm-label.-sm {
  font-size: 10px;
}

.mm-input {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}
.mm-input.-lg {
  font-size: 18px;
}
.mm-input input {
  background: none;
  border: none;
  color: #000101;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
.mm-input input:focus {
  box-shadow: inset 0 0 0 2px #e41d18, inset 0 0 0 3px white, 0 1px 2px 0 RGBA(0, 0, 0, 0.3);
  text-shadow: none;
  outline: none;
}
.mm-input .editor {
  background: #fff2ec;
}
.mm-input .editor-menu {
  border-radius: 0;
}
.mm-input .editor-container {
  min-height: 120px;
}

.mm-item-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mm-item-list .item-controls {
  display: flex;
  flex: 0 0 auto;
  gap: 2px;
  padding-inline-end: 16px;
  padding-inline-start: 4px;
  z-index: 1;
}
.mm-item-list .item-control {
  align-items: center;
  border-radius: 2px;
  border: 1px solid #e41d18;
  display: flex;
  height: 18px;
  justify-content: center;
  padding: 2px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  width: 18px;
}

.mm-item-header {
  align-items: center;
  color: white;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}
.mm-item-header > span {
  background: #e41d18;
  border-radius: 18px;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 10px;
  height: 18px;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
}
.mm-item-header > hr {
  border: none;
  border-block-end: 1px solid #e41d18;
}
.mm-item-header .item-controls {
  padding: 0;
}
.mm-item-header .item-control:hover {
  background: #e41d18;
  color: white;
  text-shadow: none;
}

.mm-item {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0% 100%);
  color: #000101;
  display: flex;
  font-size: 12px;
  gap: 8px;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mm-item::before {
  background-color: #fff2ec;
  bottom: 2px;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0% 100%);
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.mm-item .item-control {
  border-color: transparent;
}
.mm-item .item-control:hover {
  color: #e41d18;
  text-shadow: none;
}

.mm-item-name {
  flex: 1 1 auto;
  font-weight: 600;
  padding: 8px;
  padding-inline-start: 16px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.mm-item-name > a {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.mm-item-name > a span:nth-of-type(2) {
  color: #575757;
  font-size: 10px;
}

.mm-input-item {
  position: relative;
  z-index: 1;
}
.mm-input-item h4 {
  color: #000101;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: auto;
  margin: 0;
  padding: 2px 4px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
.mm-input-item h4 > .rollable {
  flex: 1 1 auto;
}
.mm-input-item h4 .item-control {
  border-color: transparent;
}
.mm-input-item h4 .item-control:hover {
  color: #e41d18;
  text-shadow: none;
}

.sheet nav.mm-tabs {
  align-items: center;
  background: #e41d18;
  border: none;
  clip-path: polygon(0% 20px, 20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%);
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin: 0;
  padding: 4px;
  width: 100%;
}
.sheet nav.mm-tabs.-two .item:nth-of-type(1) {
  flex-basis: calc(50% + 16px);
  margin-inline-end: -10px;
  padding-inline-end: 16px;
  clip-path: polygon(0% 20px, 20px 0%, 100% 0%, calc(100% - 16px) 100%, 0% 100%);
}
.sheet nav.mm-tabs.-two .item:nth-of-type(2) {
  flex-basis: calc(50% + 16px);
  margin-inline-start: -10px;
  padding-inline-start: 16px;
  clip-path: polygon(0% 100%, 16px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%);
}
.sheet nav.mm-tabs.-three .item:nth-of-type(1) {
  flex-basis: calc(33% + 16px);
  margin-inline-end: -10px;
  padding-inline-end: 16px;
  clip-path: polygon(0% 20px, 20px 0%, 100% 0%, calc(100% - 16px) 100%, 0% 100%);
}
.sheet nav.mm-tabs.-three .item:nth-of-type(2) {
  flex-basis: calc(33% + 6px);
  clip-path: polygon(16px 0%, 100% 0%, calc(100% - 16px) 100%, 0% 100%);
}
.sheet nav.mm-tabs.-three .item:nth-of-type(3) {
  flex-basis: calc(33% + 16px);
  margin-inline-start: -10px;
  padding-inline-start: 16px;
  clip-path: polygon(0% 100%, 16px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%);
}
.sheet nav.mm-tabs .sheet-tabs-wrapper {
  display: flex;
  width: 100%;
}
.sheet nav.mm-tabs .item {
  align-items: center;
  background: #8b0502;
  box-shadow: none;
  color: white;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  text-shadow: none;
  text-transform: uppercase;
}
.sheet nav.mm-tabs .item.active {
  background: white;
  color: #e41d18;
}

.marvel-multiverse.sheet .window-content {
  background-position: top -360px center;
  background-repeat: no-repeat;
  background-size: 2800px;
  background-image: url("../ui/official/mm-heroes-background.jpg");
  color: #000101;
  font-family: "Roboto Slab", sans-serif;
}
.marvel-multiverse.sheet .window-content > form {
  gap: 8px;
}

.marvel-multiverse.sheet.actor .mm-hero-portrait-block {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 210px;
  justify-content: center;
  position: relative;
}
.marvel-multiverse.sheet.actor .mm-npc-portrait-block {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 260px;
  justify-content: center;
  position: relative;
}
.marvel-multiverse.sheet.actor .mm-hero-portrait {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(0 0, 70% 0%, 100% 30%, 100% 100%, 100% 100%, 30% 100%, 0% 70%, 0 0);
  display: flex;
  height: 90%;
  justify-content: center;
  position: relative;
  width: 90%;
}
.marvel-multiverse.sheet.actor .mm-hero-portrait img {
  border-radius: 2px;
  border: none;
  flex: 0 0 auto;
  height: auto;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-karma-block {
  align-items: center;
  background: #e41d18;
  bottom: -4px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 7px, calc(100% - 5px) 12px, calc(100% - 5px) calc(100% - 12px), 100% calc(100% - 7px), 100% 100%, 0% 100%, 0% calc(100% - 7px), 5px calc(100% - 12px), 5px 12px, 0% 7px);
  display: flex;
  flex-direction: column;
  flex: 0 0 70px;
  height: 60px;
  margin: 0;
  padding: 4px 2px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 70px;
}
.marvel-multiverse.sheet.actor .mm-karma-block::before {
  background: #fff2ec;
  bottom: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 5px, calc(100% - 5px) 10px, calc(100% - 5px) calc(100% - 10px), 100% calc(100% - 5px), 100% 100%, 0% 100%, 0% calc(100% - 5px), 5px calc(100% - 10px), 5px 10px, 0% 5px);
  content: "";
  left: 3px;
  position: absolute;
  right: 3px;
  top: 2px;
}
.marvel-multiverse.sheet.actor .mm-karma-block input {
  font-size: 28px;
  width: 50%;
}
.marvel-multiverse.sheet.actor .mm-rank-block {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(12px 0%, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  display: flex;
  flex-direction: column;
  flex: 0 0 60px;
  height: 60px;
  left: 0;
  margin: 0;
  padding: 4px 2px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 60px;
}
.marvel-multiverse.sheet.actor .mm-rank-block::before {
  background: #fff2ec;
  bottom: 2px;
  clip-path: polygon(12px 0%, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  content: "";
  left: 2px;
  position: absolute;
  right: 3px;
  top: 2px;
}
.marvel-multiverse.sheet.actor .mm-rank-block input {
  font-size: 28px;
  width: 50%;
}
.marvel-multiverse.sheet.actor .mm-npchealth-block, .marvel-multiverse.sheet.actor .mm-npcfocus-block {
  align-items: center;
  background: #e41d18;
  bottom: -20px;
  clip-path: polygon(12px 0%, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  display: flex;
  flex-direction: row;
  flex: 0 0 70px;
  margin: 0;
  padding: 4px 2px;
  position: absolute;
  text-align: center;
  height: 60px;
}
.marvel-multiverse.sheet.actor .mm-npchealth-block::before, .marvel-multiverse.sheet.actor .mm-npcfocus-block::before {
  background: #fff2ec;
  clip-path: polygon(12px 0%, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
  content: "";
  left: 3px;
  position: absolute;
  right: 3px;
}
.marvel-multiverse.sheet.actor .mm-npchealth-block .mm-stat-block, .marvel-multiverse.sheet.actor .mm-npcfocus-block .mm-stat-block {
  padding-inline-end: unset;
  min-height: unset;
}
.marvel-multiverse.sheet.actor .mm-npchealth-block .mm-stat-block .mm-input, .marvel-multiverse.sheet.actor .mm-npcfocus-block .mm-stat-block .mm-input {
  padding: 0px 2px;
  width: 85px;
}
.marvel-multiverse.sheet.actor .mm-npchealth-block .mm-stat-block .mm-input input, .marvel-multiverse.sheet.actor .mm-npcfocus-block .mm-stat-block .mm-input input {
  font-size: 18px;
  width: 50%;
}
.marvel-multiverse.sheet.actor .mm-npchealth-block {
  left: 2px;
}
.marvel-multiverse.sheet.actor .mm-npcfocus-block {
  right: 2px;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li {
  align-items: center;
  color: white;
  display: flex;
  padding: 0 8px;
  position: relative;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li > * {
  display: inline-flex;
  flex: 1 1 25%;
  justify-content: center;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li > *:first-chld {
  flex: 0 0 auto;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows li > span {
  flex: 0 0 auto;
  padding: 0 8px;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-rows h6 {
  color: white;
  flex: 0 0 auto;
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  transform: rotate(-90deg);
  width: 24px;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply,
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-addition {
  align-items: center;
  background: #fff2ec;
  border: 2px solid black;
  color: #000101;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  gap: 3px;
  height: 36px;
  justify-content: center;
  line-height: 1;
  padding: 4px 8px;
  position: relative;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply > *,
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-addition > * {
  display: inline-flex;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply img,
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-addition img {
  border: none;
  flex: initial;
  height: auto;
  margin: 0;
  max-height: 100%;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::before, .marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::after {
  align-items: center;
  bottom: 0;
  color: #000101;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  top: 0;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::before {
  content: "[";
  left: -1px;
}
.marvel-multiverse.sheet.actor .mm-damage-block .mm-damage-multiply::after {
  content: "]";
  right: -1px;
}
.marvel-multiverse.sheet.actor .mm-stat-block {
  align-items: center;
  background: #e41d18;
  clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90px;
  padding: 8px 4px;
  padding-inline-end: 72px;
  position: relative;
  text-align: center;
  width: 100%;
}
.marvel-multiverse.sheet.actor .mm-stat-block.-focus {
  background: #0088cd;
}
.marvel-multiverse.sheet.actor .mm-stat-block.-focus ~ .mm-dr-block {
  background: #00599e;
}
.marvel-multiverse.sheet.actor .mm-stat-block.npc {
  padding-inline-end: none;
}
.marvel-multiverse.sheet.actor .mm-stat-block::before {
  background: #fff2ec;
  bottom: 2px;
  clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
  content: "";
  left: 2px;
  position: absolute;
  right: 3px;
  top: 3px;
}
.marvel-multiverse.sheet.actor .mm-stat-block hr {
  border: none;
  border-block-end: 1px solid #000101;
  margin: 0;
  width: 100%;
}
.marvel-multiverse.sheet.actor .mm-stat-block .mm-input {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  justify-content: end;
}
.marvel-multiverse.sheet.actor .mm-stat-block .mm-input input {
  font-size: inherit;
  height: 24px;
  max-width: 40px;
  width: auto;
}
.marvel-multiverse.sheet.actor .mm-stat-corner-block {
  background: #8b0502;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12px 100%, 0% calc(100% - 12px));
  display: flex;
  flex-direction: column;
  height: 54px;
  justify-content: center;
  padding: 4px 2px;
  position: absolute;
  right: -2px;
  text-align: center;
  top: -4px;
  width: 72px;
}
.marvel-multiverse.sheet.actor .mm-stat-corner-block::before {
  background: white;
  bottom: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12px 100%, 0% calc(100% - 12px));
  content: "";
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}
.marvel-multiverse.sheet.actor .mm-stat-corner-block .mm-input {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1;
}
.marvel-multiverse.sheet.actor .mm-speed-fields {
  align-self: unset;
  display: inline-flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  justify-content: end;
  line-height: 1.1;
  padding-block-start: 1px;
  padding-inline-start: 4px;
  text-align: left;
  width: 120%;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-speed-fields .flexrow {
  overflow: hidden;
}
.marvel-multiverse.sheet.actor .mm-speed-fields span {
  display: inline-block;
  overflow: hidden;
}
.marvel-multiverse.sheet.actor .mm-speed-fields span:first-child {
  max-width: 72px;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows::before {
  background: #fff2ec;
  bottom: 4px;
  content: "";
  position: absolute;
  right: 4px;
  top: 31px;
  width: 25%;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li {
  display: flex;
  z-index: 1;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li:first-of-type {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li:first-of-type div:nth-of-type(4) {
  color: #000101;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div {
  align-items: flex-end;
  color: white;
  display: inline-flex;
  flex: 1 1 25%;
  justify-content: center;
  text-align: center;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div:first-child {
  justify-content: start;
  text-align: start;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div.mm-ability-name {
  align-items: center;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div.mm-npc-ability-name {
  align-items: center;
  min-width: 5em;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > div,
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > input {
  align-items: center;
  background: #fff2ec;
  border: 2px solid black;
  color: #000101;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  height: 28px;
  justify-content: center;
  line-height: 1;
  min-width: initial;
  padding: 0;
  width: 54px;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > span {
  align-items: center;
  background: #8b0502;
  clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% calc(100% - 8px), calc(100% - 8px) 100%, 8px 100%, 0% calc(100% - 8px), 0% 8px);
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  height: 28px;
  justify-content: center;
  line-height: 1;
  min-width: initial;
  padding: 0;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  width: 54px;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-rows li > div > span:hover {
  background: white;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-name {
  color: white;
  font-size: 18px;
  padding-inline-start: 8px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.marvel-multiverse.sheet.actor .mm-abilities-block .mm-ability-name:hover {
  background: #e41d18;
  color: white !important;
}
.marvel-multiverse.sheet.actor .mm-bio-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  overflow: auto;
}
.marvel-multiverse.sheet.actor .window-content {
  min-width: 690px;
  overflow-x: auto;
}
.marvel-multiverse.sheet.actor .window-content > form {
  height: 100%;
}
.marvel-multiverse.sheet.actor .sheet-header {
  flex: 0 0 auto;
}
.marvel-multiverse.sheet.actor .sheet-header .header-fields .flexrow .flexcol:first-child {
  flex: 0 0 210px;
}
.marvel-multiverse.sheet.actor .sheet-header .team-maneuver select:first-child {
  width: 9em;
  float: left;
}
.marvel-multiverse.sheet.actor .sheet-header .team-maneuver select:last-child {
  width: 1em;
  float: right;
}
.marvel-multiverse.sheet.actor .sheet-body {
  overflow: hidden;
}
.marvel-multiverse.sheet.actor .sheet-body .tab[data-tab],
.marvel-multiverse.sheet.actor .sheet-body .tab[data-tab] > .flexrow {
  height: 100%;
}
.marvel-multiverse.sheet.actor .rollable {
  cursor: pointer;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.marvel-multiverse.sheet.actor .rollable:hover {
  box-shadow: none;
  color: #e41d18 !important;
  text-shadow: none;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-damage-block .mm-styled-container-body {
  justify-content: space-evenly;
  padding: 8px 0;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-abilities-block .mm-styled-container-body {
  padding: 8px 0;
  overflow: initial;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-powers-block {
  flex: 1 1 50%;
  height: 100%;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-powers-block .mm-styled-container-body {
  padding-block-start: 0;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-powers-block .mm-styled-container-body > .mm-styled-field {
  background: #8b0502;
  padding: 8px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-traitstags-block {
  flex: 1 1 50%;
  height: 100%;
}
.marvel-multiverse.sheet.actor .mm-styled-container.mm-gear-block {
  height: 100%;
}

.marvel-multiverse.sheet.item .window-content > form {
  display: flex;
  flex-direction: column;
}
