@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.dice-tooltip-collapser {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 250ms ease;
}

.dice-tooltip .dice-rolls .roll.discarded ~ .roll, .roll ~ .roll.discarded {
  bottom: 15px;
}

.dice-tooltip .dice-rolls .marvel-roll:nth-child(2) {
  bottom: 15px;
}

.dice-tooltip .dice-rolls .roll.discarded {
  opacity: 0.5;
}

.reroll-buttons {
  max-width: 5em;
  display: flex;
  flex-direction: column;
}

.dice-roll {
  cursor: pointer;
}
.dice-roll.secret-roll {
  cursor: initial;
}
.dice-roll .dice-tooltip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dice-roll .dice-tooltip.expanded {
  display: flex;
}
.dice-roll .dice-tooltip .tooltip-part {
  border-bottom: 1px solid var(--color-border-light-1);
  flex-wrap: wrap;
}
.dice-roll .dice-tooltip .tooltip-part:last-child {
  border: none;
  padding-bottom: 0;
}
.dice-roll .dice-tooltip .tooltip-part.constant {
  min-height: 40px;
  display: grid;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons {
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 6000;
  display: block;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons {
  height: 3rem;
  width: 3rem;
  display: unset;
  text-align: center;
  background: transparent;
  cursor: pointer;
  position: absolute;
  left: 0em;
  right: 3rem;
  bottom: -3rem;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button {
  font-weight: normal;
  /* width: 3em; */
  margin: 0;
  display: block;
  left: 0;
  height: 1.8em;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button i {
  font-size: 1em;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-edge {
  background-color: chartreuse;
  opacity: 0;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-edge:hover {
  opacity: 0.8;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-trouble {
  background-color: darkred;
  opacity: 0;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons button.roll-trouble:hover {
  opacity: 0.8;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 3rem;
  position: absolute;
  opacity: 0;
}
.dice-roll .dice-tooltip .tooltip-part .dice-edge-buttons .edge-buttons:hover .overlay {
  opacity: 0.8;
}
.dice-roll .dice-tooltip button.retroEdgeMode {
  width: 100%;
  margin: 0px;
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid var(--color-border-light-primary);
  border-radius: 3px;
  font-size: var(--font-size-14);
  line-height: normal;
  font-family: var(--font-primary);
  cursor: pointer;
}
.dice-roll .dice-tooltip .dice {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dice-roll .dice-tooltip .dice .dice-rolls {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.dice-roll .dice-tooltip .dice .dice-rolls .constant {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-18);
  margin-left: 0.25rem;
}
.dice-roll .dice-tooltip .dice .dice-rolls .constant .sign {
  font-weight: normal;
  color: var(--color-text-light-6);
  margin-right: 2px;
}
.dice-roll .dice-tooltip .dice .dice-rolls .roll {
  line-height: inherit;
  padding: 5px 7px 0px;
  font-size: var(--font-size-20);
}
.dice-roll .dice-tooltip .dice .dice-rolls .roll .min, .dice-roll .dice-tooltip .dice .dice-rolls .roll .max, .dice-roll .dice-tooltip .dice .dice-rolls .roll .success {
  filter: none;
}
.dice-roll .dice-tooltip .dice .dice-rolls .roll.max {
  filter: none;
}
.dice-roll .dice-tooltip .dice .total {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.dice-roll .dice-tooltip .dice .total > img {
  top: 6px;
  position: absolute;
  width: 32px;
  border: none;
  opacity: 0.1;
}
.dice-roll .dice-tooltip .dice .total .label {
  font-family: var(--marvel-multiverse-font-roboto-condensed);
  font-size: var(--font-size-10);
  color: var(--color-text-dark-5);
  text-transform: uppercase;
  text-align: center;
}
.dice-roll .dice-tooltip .dice .total .value {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-20);
}
.dice-roll .dice-tooltip .dice .total .sign {
  color: var(--color-text-light-6);
  font-weight: normal;
  margin-right: 2px;
}

.dice-tooltip .dice-rolls {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  overflow: auto;
}

.dice-tooltip .dice-rolls .d6 {
  min-width: 40px;
  font-size: var(--font-size-20);
  color: #000;
  font-weight: normal;
  text-align: center;
  min-height: 40px;
  padding-top: 6px;
}

.tooltip-part:nth-child(1) .dice-rolls .roll.d6, .tooltip-part:nth-child(3) .dice-rolls .roll.d6 {
  background-image: url("../icons/d6-white.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-top: 2px;
}

.tooltip-part:nth-child(2) .dice-rolls .roll.d6 {
  background-image: url("../icons/d6-red.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-top: 2px;
}

li.marvel-roll.d6.fantastic {
  background-repeat: no-repeat;
  background-image: url("../icons/d6-red.svg");
  background-size: 40px 40px;
  color: wheat;
  padding-top: 2px;
}

.dice-tooltip .dice-rolls span.fantastic {
  font-size: var(--font-size-28);
  color: white;
}

.dice-tooltip .dice-rolls .roll.failure, .dice-tooltip .dice-rolls .roll.min {
  filter: none;
}

.dice-tooltip .dice-rolls .roll.success, .dice-tooltip .dice-rolls .roll.max {
  filter: none;
}

.dice-tooltip .dice-rolls .roll span {
  background-image: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.directory-item[data-entry-id=""] {
  display: none !important;
}

.six-one-six-die {
  min-width: 10em;
}
.six-one-six-die img {
  width: 3em;
  height: 3em;
  border: none;
  float: left;
}

li.roll-damage {
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 5px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.flexwrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to marvel-multiverse sheets */
.marvel-multiverse .item-form {
  font-family: "Roboto", sans-serif;
}
.marvel-multiverse .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.marvel-multiverse .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.marvel-multiverse .sheet-header .character-portrait {
  border: 1px solid #000;
  border-radius: 5px;
  height: 21rem;
  position: absolute;
  top: 110px;
  left: 8px;
  z-index: 3;
}
.marvel-multiverse .sheet-header .header-fields {
  flex: 1;
}
.marvel-multiverse .sheet-header h1.charname {
  width: 28rem;
  height: 2.5rem;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.marvel-multiverse .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.marvel-multiverse .sheet-tabs {
  flex: 0;
}
.marvel-multiverse .sheet-body,
.marvel-multiverse .sheet-body .tab,
.marvel-multiverse .sheet-body .tab .editor {
  height: 100%;
}
.marvel-multiverse .sheet-body .tab .active {
  z-index: 100;
  position: relative;
}
.marvel-multiverse .tox .tox-editor-container {
  background: #fff;
}
.marvel-multiverse .tox .tox-edit-area {
  padding: 0 8px;
}
.marvel-multiverse .resource-label {
  font-weight: bold;
}
.marvel-multiverse .traits-tags-powers {
  flex-grow: 2;
}
.marvel-multiverse .ability input {
  max-width: 3em;
  max-height: 1.3em;
}
.marvel-multiverse .bio-sm input {
  max-width: 4em;
  min-width: 3em;
  max-height: 1.5em;
}
.marvel-multiverse .bio-sm select {
  max-width: 4rem;
  font-size: x-small;
  border: none;
  padding: 0;
  height: 2em;
}
.marvel-multiverse .melee-damages div {
  margin: 0;
}
.marvel-multiverse .power-item {
  flex-grow: 3;
}
.marvel-multiverse .resource-powerset {
  width: 50%;
  float: left;
}
.marvel-multiverse .attributes {
  width: 4rem;
  margin: auto;
  font-size: large;
}
.marvel-multiverse .attribute-health, .marvel-multiverse .attribute-focus {
  margin: 0;
  display: inline-block;
}
.marvel-multiverse .attribute-health input:nth-child(1), .marvel-multiverse .attribute-focus input:nth-child(1) {
  font-size: x-large;
  min-width: 2.2em;
}
.marvel-multiverse .attribute-health input:nth-child(2), .marvel-multiverse .attribute-focus input:nth-child(2) {
  min-width: 2em;
  height: 1em;
  font-size: small;
  padding-top: 3px;
}
.marvel-multiverse .resource-block, .marvel-multiverse .personalInfo {
  margin-top: 1em;
  margin-right: 1em;
  background-color: beige;
  opacity: 0.9;
  z-index: 100;
  position: relative;
  border: 1px solid beige;
  border-radius: 10px;
  padding: 0 4px;
}
.marvel-multiverse .ability input, .marvel-multiverse .personalInfo input, .marvel-multiverse .personalInfo .item {
  width: min-content;
  min-width: auto;
  max-height: 1.3em;
  flex-grow: 2;
  border: 0;
}
.marvel-multiverse .history textarea {
  min-height: 10em;
}
.marvel-multiverse .personality textarea {
  min-height: 6em;
}
.marvel-multiverse .charname {
  margin-top: 5px;
}
.marvel-multiverse .attributes-speed ol {
  list-style: none;
}
.marvel-multiverse .attributes-speed ol li {
  display: flex;
}
.marvel-multiverse .attributes-speed ol li input {
  margin: 0 4px;
}
.marvel-multiverse .sheet header.sheet-header img {
  height: fit-content;
}
.marvel-multiverse .damages-resources img {
  max-width: 2rem;
}
.marvel-multiverse .vert-text {
  float: left;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 3em;
  text-align: center;
  font-size: 0.8em;
}
.marvel-multiverse aside.damages {
  margin-right: 1em;
}
.marvel-multiverse .resources h2 {
  margin-bottom: 0;
}
.marvel-multiverse .header-control {
  font-size: 0.7rem;
  float: right;
  padding: 5px 0px 0px;
}
.marvel-multiverse .header-control select {
  height: 1rem;
  border: none;
  padding: 0;
}
.marvel-multiverse .items-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
}
.marvel-multiverse .items-header > * {
  font-size: 12px;
  text-align: center;
}
.marvel-multiverse .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.marvel-multiverse .abilities ol.items-list {
  padding: 0;
}
.marvel-multiverse .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
  z-index: 100;
  position: relative;
  opacity: 0.9;
  background-color: beige;
}
.marvel-multiverse .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.marvel-multiverse .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.marvel-multiverse .items-list .item-name h3, .marvel-multiverse .items-list .item-name h4 {
  margin: 0;
  overflow-x: hidden;
}
.marvel-multiverse .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.marvel-multiverse .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.marvel-multiverse .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.marvel-multiverse .items-list .item:last-child {
  border-bottom: none;
}
.marvel-multiverse .items-list .item .item-name {
  color: #191813;
}
.marvel-multiverse .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.marvel-multiverse .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.marvel-multiverse .items-list .items-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.marvel-multiverse .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.marvel-multiverse .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.marvel-multiverse .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.marvel-multiverse .effects .item .effect-source,
.marvel-multiverse .effects .item .effect-duration,
.marvel-multiverse .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.marvel-multiverse .effects .item .effect-controls {
  border: none;
}
