# Build Artifacts
marvel-multiverse-role-playing-system.css
marvel-multiverse-role-playing-system-compiled*
marvel-multiverse-role-playing-system.lock
packs/*
!packs/_source/

# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml

# Node Modules
node_modules/

# OS Specific
.DS_Store
