// Basic list w/ controls
@use "../utils/variables" as *;
@use "../utils/colors" as *;

.mm-item-list {
  display: flex;
  flex-direction: column;
  gap: $mm-spacing-sm;
  list-style: none;
  margin: 0;
  padding: 0;

  .item-controls {
    display: flex;
    flex: 0 0 auto;
    gap: $mm-spacing-xs;
    padding-inline-end: $mm-spacing-lg;
    padding-inline-start: $mm-spacing-sm;
    z-index: 1;
  }

  .item-control {
    align-items: center;
    border-radius: $mm-border-radius-sm;
    border: 1px solid $mm-primary-red;
    display: flex;
    height: 18px;
    justify-content: center;
    padding: $mm-spacing-xs;
    transition: all $mm-transition-type-link $mm-transition-time-base;
    width: 18px;
  }
}

.mm-item-header {
  align-items: center;
  color: white;
  display: flex;
  flex: 0 0 auto;
  width: 100%;

  > span {
    background: $mm-primary-red;
    border-radius: 18px;
    display: inline-flex;
    flex: 0 0 auto;
    font-size: 10px;
    height: 18px;
    padding: $mm-spacing-xs $mm-spacing-sm;
    text-align: center;
    text-transform: uppercase;
  }

  > hr {
    border: none;
    border-block-end: 1px solid $mm-primary-red;
  }

  .item-controls {
    padding: 0;
  }

  .item-control {
    &:hover {
      background: $mm-primary-red;
      color: white;
      text-shadow: none;
    }
  }
}

.mm-item {
  align-items: center;
  background: $mm-primary-red;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0% 100%);
  color: $mm-text-color;
  display: flex;
  font-size: 12px;
  gap: $mm-spacing-md;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    background-color: $mm-input-bg;
    bottom: 2px;
    clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0% 100%);
    content: "";
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
  }

  .item-control {
    border-color: transparent;

    &:hover {
      color: $mm-primary-red;
      text-shadow: none;
    }
  }
}

.mm-item-name {
  flex: 1 1 auto;
  font-weight: 600;
  padding: $mm-spacing-md;
  padding-inline-start: $mm-spacing-lg;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  > a {
    display: inline-flex;
    flex-direction: column;
    gap: $mm-spacing-xs;
    width: 100%;

    span:nth-of-type(2) {
      color: $mm-subtext-color;
      font-size: 10px;
    }
  }
}

.mm-input-item {
  position: relative;
  z-index: 1;

  h4 {
    color: $mm-text-color;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: auto;
    margin: 0;
    padding: $mm-spacing-xs $mm-spacing-sm;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;

    > .rollable {
      flex: 1 1 auto;
    }

    .item-control {
      border-color: transparent;

      &:hover {
        color: $mm-primary-red;
        text-shadow: none;
      }
    }
  }
}
