.resource-label {
  font-weight: bold;
}

.traits-tags-powers {
  flex-grow: 2;
}

.ability input {
  max-width: 3em;
  max-height: 1.3em;
}

.bio-sm input {
  max-width: 3em;
}

.bio-sm select {
  max-width: 6em;
}

section.marge {
  margin-bottom: 1em;
  div {
    margin-right: 1px;
    h2 {
      margin-bottom: 0;
    }
  }
}

.melee-damages div {
  margin: 0;
}

.power-item {
  flex-grow: 3;
}

.resource-powerset {
  width: 50%; 
  float: left;
}

.attributes {
  width : 4rem;
  margin: auto;
  font-size: large; 
}

.attributes-health {
  font-size: x-large;
}
.attributes-focus {
  font-size: x-large;
}

.attribute-resources {
  margin-top: 1rem;
  margin-right: 2em;
}

.personalInfo input {
  width: min-content;
  min-width: fit-content;
}

.attributes-speed ol {
  list-style: none;
  li {
    display: flex;
    input {
      margin: 0 4px;
    }
  }
}

.sheet header.sheet-header img {
  height: fit-content;
}

.damages img {
  max-width: 3em;
}

.vert-text {
  float: left;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 3em;
  text-align: center;
}

aside.damages {
  margin-right: 1em;
}

.resources h2 {
  margin-bottom: 0;
}

.tab {
  section {
    margin-right: 5px;
  }
}