.resource-label {
  font-weight: bold;
}

.traits-tags-powers {
  flex-grow: 2;
}

.ability input {
  max-width: 3em;
  max-height: 1.3em;
}

.bio-sm input {
  max-width: 4em;
  min-width: 3em;
  max-height: 1.5em;
}

.bio-sm select {
  max-width: 6em;
}

.melee-damages div {
  margin: 0;
}

.power-item {
  flex-grow: 3;
}

.resource-powerset {
  width: 50%; 
  float: left;
}

.attributes {
  width : 4rem;
  margin: auto;
  font-size: large; 
}

.attributes-health {
  font-size: x-large;
}
.attributes-focus {
  font-size: x-large;
}

.resource-block, .personalInfo {
  margin-top: 1em;
  margin-right: 1em;
  background-color: beige;
  opacity: 0.9;
  z-index: 100;
  position: relative;
  border: 1px solid beige;
  border-radius: 10px;
  padding: 0 4px;
}

.ability input, .personalInfo input, .personalInfo .item {
  width: min-content;
  min-width: auto;
  max-height: 1.3em;
  flex-grow: 2;
  border: 0;
}

.history textarea {
  min-height: 10em;
}

.personality textarea {
  min-height: 6em;
}

.charname {
  margin-top: 5px;
}


.attributes-speed ol {
  list-style: none;
  li {
    display: flex;
    input {
      margin: 0 4px;
    }
  }
}

.sheet header.sheet-header img {
  height: fit-content;
}

.damages-resources img {
  max-width: 2rem;
}

.vert-text {
  float: left;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 3em;
  text-align: center;
  font-size: 0.8em;
}

aside.damages {
  margin-right: 1em;
}

.resources h2 {
  margin-bottom: 0;
}

.header-control {
  font-size: 0.7rem;
  float: right;
  padding: 5px 0px 0px;
  select {
    height: 1rem;
    border: none;
    padding: 0;
  }
}