<div class="tab biography" data-group="primary" data-tab="biography">
    <div class="personalInfo flexcol">
        <label for="system.history" class="resource-reduced-label rollable align-left" data-label="history">History</label>
        <textarea name="system.history" data-dtype="String">{{system.history}}</textarea>
    </div>
    <div class="personalInfo flexcol">
        <label for="system.personality" class="resource-reduced-label rollable align-left" data-label="personality">Personality</label>
        <textarea name="system.personality" data-dtype="String">{{system.personality}}</textarea>
    </div>
    <div class="personalInfo flexcol">
        <label for="system.distinguishingFeatures" class="resource-reduced-label rollable align-left" data-label="distinguishingFeatures">Distinguishing Features</label>
        <textarea name="system.distinguishingFeatures" data-dtype="String">{{system.distinguishingFeatures}}</textarea>
    </div>
</div>