{{#each occupations as |item id|}}
    <div class='item flexrow' data-item-id='{{item._id}}'>
    <div class='item-name rollable' data-roll-type='item'>
      <a class="rollable" data-roll-type="item">
        <h4>{{item.name}}<a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='occupation'}}'
        >
          <i class='fas fa-trash'></i>
        </a></h4>
      </a> 
    </div>
  </div>
{{/each}}