<ol class="mm-power-set">
  <li class="flexrow item mm-power-set-header">
    <hr />
    <div class="item-controls">
      <a
        class="item-control item-create"
        title="Create item"
        data-type="tag"
      >
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </li>
  {{#each tags as |item id|}}
    <li class="flexrow item mm-power-set-power" data-item-id='{{item._id}}'>
      <div class="item-name mm-power-set-power-name">
        <a class="rollable" data-roll-type="item">{{item.name}}</a>
      </div>
      <div class="item-controls">
        <a
          class="item-control item-edit"
          title="{{localize 'DOCUMENT.Edit' type="tag"}}"
        >
          <i class="fas fa-edit"></i>
        </a>
        <a
          class="item-control item-delete"
          title="{{localize 'DOCUMENT.Delete' type="tag"}}"
        >
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>
