<form>
    <div class="form-group">
        <div class="six-one-six-die">
            <img src="systems/marvel-multiverse/icons/6.svg" title="MARVEL_MULTIVERSE.MarvelResult.6" alt="6">
            <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="1">
            <img src="systems/marvel-multiverse/icons/6.svg" title="MARVEL_MULTIVERSE.MarvelResult.6" alt="6">
        </div>
        <label>Damage Multiplier</label>
        * <input type="number" name="damageMultiplier" value="{{damageMultiplier}}" data-dtype="Number"/>
        + {{ability}} bonus
        <input type="text" name="ability" value="{{ability}}" hidden>
        <input type="number" name="abilityValue" value="{{abilityValue}}" hidden>
        
        </div>
    </div>
</form>
