<div class="marvel-multiverse chat-card request-card">
    <div class="card-buttons">
        <button {{marvel-multiverse-dataset dataset}}>
            <span class="visible-tn">{{{buttonLabel}}}</span>
            <span class="hidden-tn">{{{hiddenLabel}}}</span>
        </button>
    </div>
</div>
