<div class="marvel-multiverse dice-roll marvel-roll">
    <div class="dice-result">
        <div>{{metadata}}</div>
        <div class="dice-formula"><span>{{formula}}</span></div>
        {{{tooltip}}}
        <h4 class="dice-total"><span>{{total}}</span></h4>
        <button class="damage" title="DAMAGE">
            <span>Damage</span>
        </button>
    </div>
</div>
