.marvel-roll {
  .dice-formula,
  .dice-total,
  .damage {
    @include focus-state;
  }

  .dice-formula,
  .dice-total {
    align-items: center;
    background: $mm-primary-red;
    border-radius: 0;
    border: none;
    box-shadow: none;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);
    color: $mm-text-color;
    // cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    gap: $mm-spacing-md;
    justify-content: center;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: $mm-spacing-md;
    position: relative;
    text-transform: uppercase;
    transition: all $mm-transition-type-link $mm-transition-time-base;
    width: 100%;

    // &:hover {
    //   color: white;

    //   &::before {
    //     background-color: $mm-primary-red;
    //   }
    // }

    &::before {
      background-color: $mm-input-bg;
      bottom: 2px;
      clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);
      content: "";
      left: 2px;
      position: absolute;
      right: 2px;
      top: 2px;
    }

    span {
      cursor: text;
      user-select: auto;
      z-index: 1;
    }
  }

  .dice-total {
    font-size: 18px;
  }

  .damage,
  .roll-edge,
  .roll-trouble {
    background: $mm-primary-red;
    border-radius: $mm-border-radius-sm;
    box-shadow: none;
    color: white;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all $mm-transition-type-link $mm-transition-time-base;

    &:hover {
      background: $mm-secondary-red;
    }
  }

  .damage {
    border: 2px solid $mm-primary-red;
    font-size: 16px;
    margin-block-start: $mm-spacing-md;
    padding: $mm-spacing-md;
  }

  .dice-tooltip {
    display: flex !important;
    gap: $mm-spacing-sm;
    height: initial !important;
    margin: 0 !important;
    padding: $mm-spacing-md !important;

    &.expanded {
      display: flex !important;
    }

    .tooltip-part {
      flex: 1 1 auto;
    }
  }

  .dice {
    display: flex;
    flex-wrap: wrap;
    gap: $mm-spacing-sm;
    height: 100%;
    justify-content: center;

    .dice-rolls {
      align-items: center;
      align-self: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
      position: relative;

      &:hover {
        .roll + .roll {
          margin-block-start: $mm-spacing-sm;
        }
      }

      .roll {
        align-items: center;
        background-image: url('../ui/official/marvel-default-die.png');
        background-repeat: no-repeat;
        background-size: 50px;
        color: $mm-text-color;
        display: flex;
        font-size: 16px;
        font-size: 26px;
        font-weight: 700;
        height: 50px;
        justify-content: center;
        margin: 0;
        position: relative;
        text-shadow: 1px 1px 1px white;
        transition: all $mm-transition-type-shift $mm-transition-time-base;
        width: 50px;
        z-index: 1;

        + .roll {
          margin-block-start: -42px;
          z-index: 1;

          &.discarded {
            z-index: 0;
          }
        }

        &.discarded {
          filter: initial;
          opacity: 0.3 !important;
          z-index: 0;
        }

        &.min,
        &.max {
          filter: initial;
        }

        &.marvel-roll {
          background-image: url('../ui/official/marvel-special-die.png');
          color: white;
          text-shadow: 1px 1px 1px black;

          &.fantastic {
            background-image: url('../ui/official/marvel-special-die-with-logo.png');

            span {
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .reroll-buttons {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: $mm-spacing-sm;
  }

  .roll-edge,
  .roll-trouble {
    background: $mm-secondary-red;
    border: 1px solid $mm-primary-red;
    font-size: 12px;
    padding: $mm-spacing-sm;

    &:hover {
      background: $mm-primary-red;
    }
  }
}
