.dice-tooltip-collapser {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 250ms ease;
}

.dice-tooltip .dice-rolls .roll.discarded ~ .roll, .roll ~ .roll.discarded {
  bottom: 15px;
}

.dice-tooltip .dice-rolls .marvel-roll:nth-child(2)  {
  bottom: 15px;
}

.dice-tooltip .dice-rolls .roll.discarded {
  opacity: 0.5;
}

.reroll-buttons {
  max-width: 5em;
  display: flex;
  flex-direction: column;
}

.dice-roll {
  cursor: pointer;
  
	&.secret-roll {
    cursor: initial;
  }

  .dice-tooltip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &.expanded {
      display: flex;
    }

    .tooltip-part {
      border-bottom: 1px solid var(--color-border-light-1);
      flex-wrap: wrap;

      &:last-child {
        border: none;
        padding-bottom: 0;
      }

      &.constant {
        min-height: 40px;
        display: grid;
      }

      .dice-edge-buttons {
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
        z-index: 6000;
        display: block;

        .edge-buttons {
          height: 3rem;
          width: 3rem;
          display: unset;
          text-align: center;
          background: transparent;
          cursor: pointer;
          position: absolute;
          left: 0em;
          right: 3rem;
          bottom: -3rem;

          button {
            font-weight: normal;
            /* width: 3em; */
            margin: 0;
            display: block;
            left: 0;
            height: 1.8em;
            i {
              font-size: 1em;
            }
            &.roll-edge {
              background-color: chartreuse;
              opacity: 0;
              &:hover {
                opacity: 0.8;
              }
            }
            &.roll-trouble {
              background-color: darkred;
              opacity: 0;
              &:hover {
                opacity: 0.8;
              }
            }
          }

          .overlay{
            background: rgba(0, 0, 0, 0.5);
            width: 3rem;
            position: absolute;
            opacity: 0;
          }

          &:hover {
            .overlay{
              opacity: 0.8;
            }
          }
        }
        
      }
    }

    button.retroEdgeMode {
      width: 100%;
      margin: 0px;
      background: rgba(255, 255, 240, 0.8);
      border: 1px solid var(--color-border-light-primary);
      border-radius: 3px;
      font-size: var(--font-size-14);
      line-height: normal;
      font-family: var(--font-primary);
      cursor: pointer;
    }

    .dice {
      display: flex;
      align-items: center;
      flex-direction: column;

      .dice-rolls {
        margin: 0;
        display: flex;
        flex-direction: column;
        position: relative;

        .constant {
          font-family: var(--font-primary);
          font-weight: bold;
          font-size: var(--font-size-18);
          margin-left: .25rem;

          .sign {
            font-weight: normal;
            color: var(--color-text-light-6);
            margin-right: 2px;
          }
        }
        .roll {
          line-height: inherit;
          padding: 5px 7px 0px;
          font-size: var(--font-size-20);
          // width: 3rem;
          // background-image: none;
          .min, .max, .success {
            filter: none;
          }
          // .d6 {
            // background-image: none;
            // background: none;
          // }
          &.max {
            filter: none;
          }
        }
      }

      .total {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        > img {
          top: 6px;
          position: absolute;
          width: 32px;
          border: none;
          opacity: .1;
        }

        .label {
          font-family: var(--marvel-multiverse-font-roboto-condensed);
          font-size: var(--font-size-10);
          color: var(--color-text-dark-5);
          text-transform: uppercase;
          text-align: center;
        }

        .value {
          font-family: var(--font-primary);
          font-weight: bold;
          font-size: var(--font-size-20);
        }

        .sign {
          color: var(--color-text-light-6);
          font-weight: normal;
          margin-right: 2px;
        }
      }
    }
  }

}

.dice-tooltip .dice-rolls {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    overflow: auto;
}

.dice-tooltip .dice-rolls .d6 {
  min-width: 40px;
  font-size: var(--font-size-20);
  color: #000;
  font-weight: normal;
  text-align: center;
  min-height: 40px;
  padding-top: 6px;
}

.tooltip-part:nth-child(1) .dice-rolls .roll.d6, .tooltip-part:nth-child(3) .dice-rolls .roll.d6 {
  background-image: url("../icons/d6-white.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-top: 2px;
}

.tooltip-part:nth-child(2) .dice-rolls .roll.d6 {
  background-image: url("../icons/d6-red.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-top: 2px;
}

li.marvel-roll.d6.fantastic {
  background-repeat: no-repeat;
  background-image: url("../icons/d6-red.svg");
  background-size: 40px 40px;
  color: wheat;
  padding-top: 2px;
}

.dice-tooltip .dice-rolls span.fantastic {
  font-size: var(--font-size-28);
  color: white;  
}

.dice-tooltip .dice-rolls .roll.failure, .dice-tooltip .dice-rolls .roll.min{
  filter: none;
}

.dice-tooltip .dice-rolls .roll.success, .dice-tooltip .dice-rolls .roll.max {
  filter: none;
}

.dice-tooltip .dice-rolls .roll span {
  background-image: none;
}

.directory-item[data-entry-id='']{
  display: none !important;
}

.six-one-six-die {
  min-width: 10em;

  img {
    width: 3em;
    height: 3em;
    border: none;
    float: left;
  }
}

li.roll-damage {
  cursor: pointer;
}
