// Flexbox.
@use "../utils/variables" as *;
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.flexwrap {
  flex-wrap: wrap;
}

// Alignment styles.
.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.flexcol,
.flexrow {
  &.-gap-xs {
    gap: $mm-spacing-xs;
  }

  &.-gap-sm {
    gap: $mm-spacing-sm;
  }

  &.-gap-md {
    gap: $mm-spacing-md;
  }

  &.-nowrap {
    flex-wrap: nowrap;
  }

  &.-space-between {
    justify-content: space-between;
  }

  &.-space-evenly {
    justify-content: space-evenly;
  }

  &.-grow-2 {
    flex-grow: 2;    
  }

  &.-relative {
    position: relative;
  }

  &.-static {
    flex: 0 0 auto;
  }

  &.-static-children {
    > * {
      flex: 0 0 auto;
    }
  }
}
