// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/typography';
@import 'utils/variables';

// Global styles
@import 'global/flex';
@import 'global/grid';
@import 'global/dice';

// Components
@import 'components/containers';
@import 'components/effects';
@import 'components/fields';
@import 'components/items';
@import 'components/tabs';

//Sheets
@import 'sheets/sheet';
@import 'sheets/actor';
@import 'sheets/item';
